/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-head {
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
}
.l-head a {
  text-decoration: none;
  color: #D2D2D2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.l-head .l-head__container {
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
}
.l-head .l-head__container .l-head__list {
  display: flex;
  width: 892px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.l-head .l-head__container .l-head__list .logo {
  width: 50px;
}
.l-head .l-head__container .l-head__list .logo h1 {
  width: 100%;
}
.l-head .l-head__container .l-head__list .navi {
  width: 793px;
}
.l-head .l-head__container .l-head__list .navi ul {
  display: flex;
}
.l-head .l-head__container .l-head__list .navi ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-head .l-head__container .l-head__list .navi ul li a {
  padding: 15px;
  position: relative;
}
.l-head .l-head__container .l-head__list .navi ul li a:hover {
  color: #fff;
}
.l-head .l-head__container .l-head__list .navi ul li a.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30%;
  width: 30px;
  height: 2px;
  transform: translateY(-50%) rotate(45deg);
  background-color: #E76F51;
}
.l-head .l-head__container .l-head__sign {
  display: flex;
}
.l-head .l-head__container .l-head__sign .c-btn--signup {
  border: 0px;
}
.l-head .l-head__container .l-head__sign .c-btn--signup a {
  color: #fff;
}
.l-head .l-head__container .l-head__sign .c-btn--signin {
  border: 1px solid #fff;
  border-radius: 50px;
}
.l-head .l-head__container .l-head__sign .c-btn--signin a {
  color: #fff;
}
.l-head .l-head__container .menu-bar {
  display: none;
}

@media screen and (max-width: 800px) {
  .l-head .l-head__container {
    width: 98%;
    position: relative;
  }
  .l-head .l-head__container .l-head__list .show-menu {
    display: none;
  }
  .l-head .l-head__container .l-head__list .navi {
    position: relative;
    width: 320px;
    margin-top: 50px;
    background-color: #000000;
    border-radius: 20px;
  }
  .l-head .l-head__container .l-head__list .navi ul {
    display: flex;
    flex-direction: column;
  }
  .l-head .l-head__container .l-head__list .navi ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l-head .l-head__container .l-head__list .navi ul li a {
    padding: 15px;
    position: relative;
  }
  .l-head .l-head__container .l-head__list .navi ul li a:hover {
    color: #fff;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
  }
  .l-head .l-head__container .l-head__list .navi ul li a.active::after {
    content: "";
    display: none;
  }
  .l-head .l-head__container .l-head__sign {
    display: none;
  }
  .l-head .l-head__container .menu-bar {
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 20px;
    right: 0;
  }
  .l-head .l-head__container .menu-bar img {
    width: 100%;
  }
}
.mainvisual {
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.mainvisual__text {
  max-width: 700px;
  text-align: center;
  line-height: 1.5;
}
.mainvisual__text h2 {
  color: #FFFFFF;
  font-size: 81px;
  font-family: "Archivo", sans-serif;
  font-weight: 900;
}
.mainvisual__text p {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
}
.mainvisual__text .c-btn--discover {
  width: 175px;
  background-color: #E76F51;
  border-radius: 30px;
  margin: 0 auto;
}
.mainvisual__text .c-btn--discover a {
  width: 100%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-btn a {
  width: 100px;
  text-align: center;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-decoration: none;
}

.c-content {
  width: 1518px;
  display: flex;
  justify-content: space-between;
  margin: -115px auto 150px;
}
.c-content .c-card__inner {
  width: 357px;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.c-content .c-card__inner .c-card__bloc {
  padding: 60px 40px;
  margin: 0 auto;
}
.c-content .c-card__inner .c-card__bloc .img-box {
  width: 90px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.c-content .c-card__inner .c-card__bloc .img-box img {
  max-width: 100%;
}
.c-content .c-card__inner .c-card__bloc .txt-box {
  color: #3B3735;
  text-align: center;
}
.c-content .c-card__inner .c-card__bloc .txt-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.c-content .c-card__inner .c-card__bloc .txt-box p {
  font-size: 16px;
  line-height: 1.5;
}

.c-wrap-activity {
  width: 1518px;
  margin: 0 auto;
}
.c-wrap-activity .c-card-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-wrap-activity .c-card-txt img {
  max-width: 90px;
  margin-bottom: 40px;
}
.c-wrap-activity .c-card-txt h4 {
  max-width: 408px;
  font-size: 40px;
  margin-bottom: 61px;
  text-align: center;
  line-height: 1.3;
}
.c-wrap-activity .c-card-activity {
  width: 1518px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.c-wrap-activity .c-card-activity .container {
  width: 357px;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
.c-wrap-activity .c-card-activity .container__inner {
  padding: 40px;
  position: relative;
}
.c-wrap-activity .c-card-activity .container__inner .img-box {
  width: 277px;
}
.c-wrap-activity .c-card-activity .container__inner .img-box img {
  max-width: 277px;
}
.c-wrap-activity .c-card-activity .container__inner .img-box .favorite {
  position: absolute;
  max-width: 40px;
  top: 50px;
  right: 50px;
  border-radius: 30%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.c-wrap-activity .c-card-activity .container__inner .txt-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-wrap-activity .c-card-activity .container__inner .txt-box .price {
  border: 1px solid #fff;
  width: 125px;
  background-color: #fff;
  position: absolute;
  padding: 10PX;
  margin-top: -180px;
  border-radius: 10px;
  color: #E76F51;
}
.c-wrap-activity .c-card-activity .container__inner .txt-box h4 {
  font-size: 18px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 10px;
}
.c-wrap-activity .c-card-activity .container__inner .txt-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #3B3735;
}
.c-wrap-activity .c-card-activity .container__inner .txt-box .c-btn--read {
  width: 155px;
  margin: 0 auto;
  background-color: #8D8D8D;
}
.c-wrap-activity .c-card-activity .container__inner .txt-box .c-btn--read a {
  text-decoration: none;
  color: #8D8D8D;
  font-size: 18px;
  font-weight: 500;
}
.c-wrap-activity .c-btn--view {
  width: 175px;
  border: 1px solid #E76F51;
  margin: 30px auto 150px;
}
.c-wrap-activity .c-btn--view a {
  text-decoration: none;
  color: #E76F51;
  font-size: 18px;
  font-weight: 500;
}

.email-bloc {
  width: 1518px;
  margin: 0 auto 180px;
}
.email-bloc .c-bloc {
  position: relative;
}
.email-bloc .c-bloc .c-bloc__txt {
  width: 616px;
  position: absolute;
  top: 111px;
  left: 100px;
  text-align: left;
  line-height: 1.5;
}
.email-bloc .c-bloc .c-bloc__txt h5 {
  font-size: 40px;
  font-weight: 900;
}
.email-bloc .c-bloc .c-bloc__txt p {
  width: 486px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box {
  position: relative;
  width: 560px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box input {
  width: 100%;
  padding: 25px;
  border-radius: 20px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box input:focus {
  outline: none;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box a {
  width: 50px;
  position: absolute;
  top: 12px;
  right: -35px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box a img {
  width: 100%;
  border-radius: 20px;
}

.l-bloc {
  background-color: #F8E1DB;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}
.l-bloc__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 60px;
}
.l-bloc__inner h6 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}
.l-bloc__inner .bloc-txt {
  color: #3B3735;
  width: 613px;
}
.l-bloc__inner .bloc-txt p {
  font-size: 16px;
  font-size: 400;
  margin-bottom: 40px;
}
.l-bloc__inner .bloc-list {
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.l-bloc__inner .bloc-list a {
  text-decoration: none;
  font-size: 16px;
  font-size: 400;
  color: #000;
  line-height: 1.5;
}
.l-bloc address {
  color: #3B3735;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
}

body {
  background-color: #FAF4F2;
}/*# sourceMappingURL=style.css.map */