.l-head{
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    a{
        text-decoration: none;
        color: #D2D2D2;
        font-family:'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    .l-head__container{
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
        .l-head__list{
            display: flex;
            width: 892px;
            justify-content: space-between;
            flex-wrap: wrap;
            .logo{
                width: 50px;    
                h1{
                   width: 100%;
                }
            }
            .navi{
                width: 793px;
                ul{
                    display: flex;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a{
                            padding: 15px; 
                            position: relative;
                            &:hover{
                                color: #fff;
                            }
                        }  
                        
                        a.active::after{
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 30%;
                            width: 30px;
                            height: 2px;
                            transform: translateY(-50%) rotate(45deg);
                            background-color: #E76F51;
                        }
                      
                    }
                }
            }
        }
        .l-head__sign{
            display: flex;
            .c-btn--signup{
                border: 0px;
               a{
                    color: #fff;
               }
            } 
            .c-btn--signin{
                
                border: 1px solid #fff;
                border-radius: 50px;
                a{
                    color: #fff;    
                }
            } 
        }  
    }
}
