.l-head{
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    a{
        text-decoration: none;
        color: #D2D2D2;
        font-family:'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
 

    .l-head__container{
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
     
        .l-head__list{
            display: flex;
            width: 892px;
            justify-content: space-between;
            flex-wrap: wrap;
            .logo{
                width: 50px;    
                h1{
                   width: 100%;
                }
            }
            .navi{
                width: 793px;
                ul{
                    display: flex;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a{
                            padding: 15px; 
                            position: relative;
                            &:hover{
                                color: #fff;
                            }
                        }  
                        
                        a.active::after{
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 30%;
                            width: 30px;
                            height: 2px;
                            transform: translateY(-50%) rotate(45deg);
                            background-color: #E76F51;
                        }
                      
                    }
                }
            }
        }
        .l-head__sign{
            display: flex; 
            .c-btn--signup{
                border: 0px;
               a{
                    color: #fff;
               }
            } 
            .c-btn--signin{
                
                border: 1px solid #fff;
                border-radius: 50px;
                a{
                    color: #fff;    
                }
            } 
        }  
        .menu-bar{
            display: none;
        }
    }
}
@media screen and (max-width: 800px){
    .l-head{   
        .l-head__container{
            width: 98%;
            position: relative;
            .l-head__list{
                .show-menu{
                    display: none;
                }
                .navi{
                    position: relative;
                    width: 320px;
                    // margin-right: -450px;
                    margin-top: 50px;
                    background-color: #000000;
                    border-radius: 20px;
                  
                    ul{
                        display: flex;
                        flex-direction: column;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            a{
                                padding: 15px; 
                                position: relative;
                                &:hover{
                                    color: #fff;
                                    width: 100%;
                                    border: 1px solid #fff;
                                    border-radius: 10px;
                                    text-align: center;
                                }
                            } 
                            a.active::after{
                                content: "";
                                display: none;
                            }
                        }
                    }
                }
            }
            .l-head__sign{
                display: none;
            }
            .menu-bar{
                position: absolute;
                display: flex;
                width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 20px;
                right: 0;
                img{
                    width: 100%;
                }
            }
        }    
    }
}


