
// .c-btn{
//     width: 100px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 15px;
//     border: 1px solid #fff;
//     border-radius: 30px;
// } 

.c-btn{
    display: flex;
    align-items: center;
    justify-content: center;
a{
    width: 100px;
    text-align: center;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 30px;
    text-decoration: none;
}
}