.background{
    background-image: url(../img/pic1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.h-head{
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
    font-style:inherit;
}
.h-head > h1{
    font-size: 70px;  
}
.h-head > p{
    font-size: 20px;
    width: 600px;
    line-height: 1.5;
}
.h-head__btn{
   max-width: 300px;
   width: 100%;
   margin-left: 150px;
}
.btn{
    color: #ffffff;
    background-color: rgb(100, 100, 200);
    border: 10px solid;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    padding: 15px 50px;
}
.btn::after{
    content: url(../img/arrow-logo_chevrons_black-txt_white-bg.png);
    position: fixed;
}
